{{extend 'layout.html'}}

<h1>{{=header_text}}</h1>

{{if authorized:}}

<!-- bootstrap angular view app here -->
<div class="row" ng-app="sequencemagic">
    <div class="col-md-12 col-xs-12">

        <!-- plasmid building goes here -->
        <plasmid id="p1"
                 sequencelength="1000">
            <plasmidtrack id="t1">
                <tracklabel id="seq-name"
                            text="{{=sequence_name}}"></tracklabel>
            </plasmidtrack>
        </plasmid>

    </div>
</div>

<!-- Custom plasmid styles -->
<style>
    #p1 {
        border: 1px solid black;
    }
    #t1 {
        stroke: 1px solid lightgrey;
        fill: lightgreen;
    }
    #seq-name {
        font-size: 25px;
    }
</style>

<!-- Custom angular UI -->
<script>
    $(document).ready(function() {
        angular.module('sequencemagic', ['sequencemagic.controllers', 'angularplasmid', 'angularplasmid.services'])
                .config( function($interpolateProvider) {
                    $interpolateProvider.startSymbol('{[');
                    $interpolateProvider.endSymbol(']}')
                });

        angular.module('sequencemagic.controllers', [])
                .controller('ViewController', ['$scope', function($scope) {

                }])

    })
</script>

{{pass}}
