{{extend 'layout.html'}}

    <div class="row">
        <div class="col-md-12">
            <h1>{{=header_text}}</h1>
        </div>
    </div>
    <div class="row">
        {{if query is not None:}}
            {{for row in query:}}
                {{all_descriptors = db(db.descriptor_table.seq_id == row.descriptor_id).select(db.descriptor_table.ALL)}}
                    {{for descriptor in all_descriptors:}}
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h3>{{=descriptor.sequence_name}}</h3>
                                    <p>{{=descriptor.sequence_description}}</p>
                                    <p>
                                        <a class="btn btn-primary" href="{{=URL('default', 'view', args=[descriptor.id])}}">
                                            View&nbsp;&nbsp;<i class="fa fa-eye"></i>
                                        </a>
                                        {{if authorized:}}
                                            {{if descriptor.creating_user_id == auth.user_id:}}
                                                <a class="btn btn-primary" href="#">
                                                    Edit&nbsp;&nbsp;<i class="fa fa-magic"></i>
                                                </a>
                                            {{pass}}
                                        {{pass}}
                                   </p>
                                </div>
                            </div>
                        </div>
                    {{pass}}
            {{pass}}
        {{else:}}
            {{for descriptor in all_descriptors:}}
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <div class="caption">
                                <a class="btn-subscribe pull-right" href="{{=URL('default', 'subscribe', args=[descriptor.seq_id])}}">
                                    <i class="fa fa-flag"></i>
                                </a>
                                <h3>{{=descriptor.sequence_name}}</h3>
                                <p>{{=descriptor.sequence_description}}</p>
                                <p>
                                    <a class="btn btn-primary" href="{{=URL('default', 'view', args=[descriptor.id])}}">
                                            View&nbsp;&nbsp;<i class="fa fa-eye"></i>
                                    </a>
                                    {{if authorized:}}
                                        <a class="btn btn-primary" href="#">
                                                    Edit&nbsp;&nbsp;<i class="fa fa-magic"></i>
                                        </a>
                                    {{pass}}
                                    {{if descriptor.creating_user_id == auth.user_id:}}
                                                <a class="btn btn-primary" href="#">
                                                    Edit&nbsp;&nbsp;<i class="fa fa-magic"></i>
                                                </a>
                                    {{pass}}
                                </p>
                            </div>
                        </div>
                    </div>
            {{pass}}
        {{pass}}                
    </div>