{{extend 'layout.html'}}

    <div class="row">
        <div class="col-md-12">
            <h1>{{=header_text}}</h1>
        </div>
    </div>
    <div class="row">
        {{for descriptor in all_descriptors:}}
        <div class="col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>{{=descriptor.sequence_name}}</h3>
                    <p>{{=descriptor.sequence_description}}</p>
                    <p>
                        {{=A('View', _class="btn btn-primary", _href=URL('default', 'view', args=[descriptor.id]))}}
                        {{if authorized:}}
                            {{=A('Edit', _class="btn btn-primary", _href="#")}}
                        {{pass}}
                        {{=A('Subscribe', _class="btn btn-primary", _href="#")}}
                    </p>
                </div>
            </div>
        </div>
        {{pass}}
    </div>