{{extend 'layout.html'}}

<h1>Update a sequence</h1>
<ul class="btn-group">
    <a href="{{=URL('default', 'update_sequence')}}">
        <li id="form-upload" class="btn btn-primary {{if del_active and not add_active:}}active{{pass}}">Delete Sequence</li>
    </a>
    <a href="{{=URL('default', 'update_sequence', args=['add'])}}">
        <li id="form-text" class="btn btn-primary {{if add_active and not del_active:}}active{{pass}}">Add Sequence</li>
    </a>
    <a href="{{=URL('default', 'update_sequence', args=['replace'])}}">
        <li id="form-text" class="btn btn-primary {{if not del_active and not add_active:}}active{{pass}}">Replace Existing Sequence</li>
    </a>
</ul>
<div id="form-wrap" class="form-wrap">
{{=form}}
{{if del_active:}}
    Enter a number corresponding to base you would like to delete. Bases start at 0.<br>
    If a position larger than
{{elif add_active:}}
    Be careful when inserting sequence. The sequence to insert will be on the left of the position you choose.<br>
    For example, if your sequence is 'AACAA' and you want to make the sequence 'AAGGCAA' make sure <br>
    you choose position 2 as where you want to insert.<br>
{{elif not del_active and not add_active:}}
    Enter the substring you would like to replace<br>
{{pass}}
</div>