{{extend 'layout.html'}}

{{if found_sequence:}}
    <h1 style="display: inline-block;">{{=desc_name}} <small>by {{=desc_author}} on {{if date_created is not None:}}{{=date_created.strftime("%m/%d/%y")}}{{pass}}</small></h1>
	
	{{if last_annotator is not None:}}
	<p>
	<h3 style="display: inline-block;">Last edited by <small>by {{=last_annotator.auth_user.first_name}} {{=last_annotator.auth_user.last_name}}  on {{if last_annotator.annotations.date_created is not None:}}{{=last_annotator.annotations.date_created.strftime("%m/%d/%y %H:%M:%S-%p")}}{{pass}}</small></h3>
	</p>
	{{pass}}

        <div class="btn-group pull-right" style="margin-top: 21px;">
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-gear"></i>
            </button>
            <ul class="dropdown-menu">
                {{if is_creator:}}
                <li>
                    <a href="{{=URL('default', 'delete', vars=dict(desc_id=desc_id))}}">Delete</a>
                </li>
                {{elif is_subscriptor:}}
                <li>
                    <a href="{{=URL('default', 'unsubscribe', args=[desc_id])}}">Unsubscribe</a>
                </li>
                {{pass}}
            </ul>
        </div>

        <div class="row">
            <div class="col-md-9 col-xs-12 left-panel">

                <div class="row">
                    <div class="col-md-12 col-xs-12 plasmid-wrapper">
                        <!-- plasmid building goes here -->
                        <plasmid id="p1"
                                 sequencelength="{{=seq_length}}"
                                 plasmidheight="500" plasmidwidth="500">
                            <plasmidtrack id="t1" width="5" radius="150">
                                <tracklabel id="seq-name"
                                            text="{{=plasmid_name}}"></tracklabel>
                                <trackscale class="scale-major" interval="50" showlabels="1" labelclass="scale"></trackscale>
                                {{if annotation_list is not None:}}
                                {{counter=0}}
                                {{for userid, annotations in annotation_list.iteritems():}}
                                    <!-- set user-specific classes -->
                                    {{for annotation in annotations:}}
                                        {{for position in annotation.annotation_location:}}
                                        <trackmarker class="marker marker-{{=counter}}" wadjust="10" start="{{=position}}" end="{{=(position + annotation.annotation_length)}}">
                                            <markerlabel class="mlabel" text="{{=abbreviation(annotation.annotation_name)}}" vadjust="50" type="path"></markerlabel>
                                        </trackmarker>
                                        {{pass}}
                                    {{pass}}
                                    {{counter+=1}}
                                {{pass}}
                                {{pass}}
                            </plasmidtrack>
                        </plasmid>
                    </div>
					{{if authorized:}}
                    <div class="col-md-12 col-xs-12 add-annotation-wrapper">
                        {{if request.vars.error_string:}}
                                {{=request.vars.error_string}}<br>
                            {{pass}}
                        <button class="btn btn-primary add-annotation">
                            <i class="fa fa-plus"></i> Add an annotation
                        </button>
                        {{if is_creator:}}
                        <button class="btn btn-primary update-sequence">
                            <i class="fa fa-magic"></i> Update Sequence
                        </button>
                        {{pass}}
                        <div class="annotation-form-wrapper" style="display: none;">
                            {{=annotation_form}}
                        </div>
                        <div class="sequence-form-wrapper" style="display: none; margin-top: 20px;">
                            <button class="btn btn-primary active add-sequence">Add</button>
                            <button class="btn btn-primary modify-sequence">Modify</button>
                            <button class="btn btn-primary delete-sequence">Delete</button>
                            {{=update_sequence_form}}
                        </div>
                    </div>
					
                    <div class="col-md-12 col-xs-12">
                        <div class="row">
                            <div class="col-md-2 col-xs-2 user-nav">
                                <ul class="nav nav-tabs nav-stacked">
                                    {{for index, user in enumerate(list_of_subscriptors):}}
                                        <li class="btn btn-user btn-{{=index}}{{if user.id == selected_user_id:}} active-button{{pass}}">
                                            <a href="{{=URL('default', 'view', args=[desc_id], vars=dict(user_id=user.id))}}">{{=abbreviation(user.first_name + " " + user.last_name)}}</a>
                                        </li>
                                    {{pass}}
                                </ul>
                            </div>
                            <div class="col-md-10 col-xs-10 annotations-view">
                                {{if user_chosen:}}
                                    <div class="annotations-wrap">
                                            <table class="table table-hover">
                                                <thead></thead>
                                                <tbody>
                                                    {{if annotation_list.has_key(selected_user_id):}}
													{{for annotation in annotation_list[selected_user_id]:}}
                                                    <tr>
                                                        <td>{{=annotation.annotation_name}}<br>{{=annotation.date_created}}</td>
                                                        {{if selected_user_id == auth.user_id:}}
                                                        <td>
                                                            <a class="btn btn-primary" href="#">
                                                                    Edit <i class="fa fa-wrench"></i>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-danger" onclick="return confirm('Are you sure?')" href="{{=URL('default', 'delete', vars=dict(annotation_id=annotation.id))}}">
                                                                    <i class="fa fa-trash"></i>
                                                            </a>
                                                        </td>
                                                        {{pass}}
                                                    </tr>
                                                    {{pass}}
                                                    {{else:}}
                                                    <h3>This person hasn't added any annotations yet</h3>
                                                    {{pass}}
                                                </tbody>
                                            </table>
                                    </div>
                                {{pass}}
                            </div>
                        </div>
                    </div>
                    {{pass}}
                </div>

            </div>

            <div class="col-md-3 col-xs-12">
				<h4> Annotation Update History </h4>
				{{for annotation in annotation_history:}}
				<li>
				{{=annotation.annotation_name}}<br>{{=annotation.date_created}}<br>{{=annotation.creating_user_id}}
				</li>
				<!--
					need button: 'make active' are you sure?
				    need button: 'revert'
				--->	
				{{pass}}
            </div>

        <!-- Custom plasmid styles -->
        <style>
            #p1 {
            }
            #t1 {
                stroke: 1px solid lightgrey;
                fill: lightgrey;
            }
            #seq-name {
                font-size: 25px;
            }
            .scale-major {
                stroke: #000;
            }
            .scale {
                fill: #888888;
            }
            svg {
                width: 500px;
                display: inline-block;
                text-align: center;
            }
        </style>

        <!-- Bootstrap angular -->
        <script>

            angular.module('sequencemagic', ['angularplasmid', 'angularplasmid.services'])
                        .config(function ($interpolateProvider) {
                            $interpolateProvider.startSymbol('{[');
                            $interpolateProvider.endSymbol(']}')
                        });

            angular.element(document).ready(function() {
                angular.bootstrap(document, ['sequencemagic']);
            });

        </script>

        <!-- jquery stuff -->
        <script>
            $(document).ready(function() {
                // adjusts annotations view height to fit with users tab
                $(".annotations-view").height(function() {
                    self = $(this);
                    if (self.height() < $(".user-nav").height()) {
                        return $(".user-nav").height()
                    }
                    else {
                        return self.height
                    }
                });

                // sets the annotations view border color
                var color = $(".active-button").css("background-color");
                $(".annotations-view").css({
                    'border-left': '15px solid '+color,
                    'border-top': '15px solid '+color,
                    'border-top-left-radius': '10px'
                })

                // dropdowns
                function hideOtherForm($obj) {
                    var otherform = $obj.siblings('div');
                    if (otherform.css("display") !== 'none') {
                        otherform.hide({
                            duration: 300
                        });
                    }
                }
                $("button.add-annotation").click(function() {
                    var theForm = $(".annotation-form-wrapper");
                    hideOtherForm(theForm);
                    theForm.toggle({
                        duration: 1000
                    })
                });
                $("button.update-sequence").click(function() {
                    var theForm = $(".sequence-form-wrapper");
                    hideOtherForm(theForm);
                    theForm.toggle({
                        duration: 600
                    })
                })

                // update sequence buttons
                /*** Hide form action, sequence name ***/
                $('#no_table_form_action__row').hide();
                $('#no_table_name__row').hide();

                function updateActive($obj) {
                    $obj.siblings('button').removeClass('active');
                    $obj.addClass('active')
                }
                function updateFormAction($form, action) {
                    // update action
                    $form.find('#no_table_form_action').val(action);
                    // conditionally hide seqs field
                    if (action === 'del') {
                        $form.find('#no_table_seqs__row').hide();
                    }
                    else {
                        $form.find('#no_table_seqs__row').show();
                    }
                }
                $('button.add-sequence').click(function() {
                    updateActive($(this));
                    // change text
                    var form = $(this).siblings('form');
                    form.find('#no_table_seqs__label').text('Additional sequence to add');
                    form.find('#no_table_position__label').text('Position(s) to insert sequence');
                    updateFormAction(form, 'add');
                });
                $('button.modify-sequence').click(function() {
                    updateActive($(this));
                    // change text
                    var form = $(this).siblings('form');
                    form.find('#no_table_seqs__label').text('Replacement sequence');
                    form.find('#no_table_position__label').text('Position(s) to replace with above sequence');
                    updateFormAction(form, 'replace');
                });
                $('button.delete-sequence').click(function() {
                    updateActive($(this));
                    // change text
                    var form = $(this).siblings('form');
                    form.find('#no_table_position__label').text('Position(s) to delete');
                    updateFormAction(form, 'del');
                })
            })
        </script>

    
{{else:}}
        {{=seq}}
{{pass}}
