{{extend 'layout.html'}}

{{if found_sequence:}}
    <h1>{{=desc_name}} <small>by {{=desc_author}} on {{if date_created is not None:}}{{=date_created.strftime("%m/%d/%y")}}{{pass}}</small></h1>

    {{if authorized:}}

        <!-- bootstrap angular view controller here -->
        <div class="row" ng-controller="ViewController as view">
            <div class="col-md-6 col-xs-12">
                <ul class="nav nav-tabs nav-stacked">
                    <li ng-repeat="user in view.users">
                        {[view.viewTest]}
                        {[view.initials(user)]}
                    </li>
                </ul>
                <p>Annotations list goes here. A possibility is to create a tab for each user and show the annotations that user has added, like so</p>
                <p>Annotations can be color coded to the user</p>
                <p>Any user subscribed to the plasmid can add annotations</p>
            </div>

            <div class="col-md-6 col-xs-12">

                <!-- plasmid building goes here -->
                <plasmid id="p1"
                         sequencelength="1000">
                    <plasmidtrack id="t1">
                        <tracklabel id="seq-name"
                                    text="{{=plasmid_name}}"></tracklabel>
                    </plasmidtrack>
                </plasmid>

            </div>
        </div>

        <!-- Custom plasmid styles -->
        <style>
            #p1 {
            }
            #t1 {
                stroke: 1px solid lightgrey;
                fill: lightgreen;
            }
            #seq-name {
                font-size: 25px;
            }
        </style>

        <!-- Custom angular UI -->
        <script>

            angular.module('sequencemagic', ['angularplasmid', 'angularplasmid.services'])
                        .config(function ($interpolateProvider) {
                            $interpolateProvider.startSymbol('{[');
                            $interpolateProvider.endSymbol(']}')
                        })
                        .controller('ViewController', ['$scope', function ($scope) {
                            $scope.viewTest = "testing";

                            // $scope.users = {{=XML(list_of_subscriptors)}};

                            $scope.initials = function (userObj) {
                                debugger;
                                var initials = "";
                                if (userObj.first_name && userObj.last_name) {
                                    initials = userObj.first_name.slice(0, 1).toUpperCase() + userObj.last_name.slice(0, 1).toUpperCase()
                                }
                                return initials
                            };
                        }]);

            angular.element(document).ready(function() {
                angular.bootstrap(document, ['sequencemagic']);
            });

        </script>

    {{pass}}
{{else:}}
        {{=seq}}
{{pass}}