{{extend 'layout.html'}}

{{if sequence_row is not None:}}
    <h1>{{=desc_name}} <small>by {{=desc_author}} on {{if date_created is not None:}}{{=date_created.strftime("%m/%d/%y")}}{{pass}}</small></h1>
    <div class="container">
        Type: {{=seq_type}}<br>
        {{=seq}}
    </div>
    <p>Users suscribed to this sequence: </p>
			{{if list_of_suscriptors is not None and len(list_of_suscriptors) > 0:}}
				<ul>
					{{for p in list_of_suscriptors:}}
						<li>{{=p.first_name}} {{=p.last_name}}, {{=p.email}}</li>
					{{pass}}
				</ul>
			{{pass}}
{{else:}}
        {{=seq}}
{{pass}}